doctype html
html
  head
    meta(charset='uft-8')
    title SEMBOOK
    link(rel='stylesheet' href='css/index.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');
  body
    #heading
      h1 SEMBOOK
      button#loginb(onclick='location.href="/signin"') SIGN IN
      button#registerb(onclick='location.href="/signup"') SIGN UP
    #about
      h2 What's Sembook
      #sembook
        p Sembook is a free book storage site that helps you store books and edit it whenever needed.
        p Sembook currently offers a storage for 8 books at max.
        p Sembook can make your reading and handling of books easy by providing a huge range of fonts and colours to set up your custom theme.
        p Only admin can publish the books.