doctype html
html
  head
    meta(charset='uft-8')
    title SB-HOME
    link(rel='stylesheet' href='css/sembook.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');
  body
    #heading
      h1 SEMBOOK
      button#signoutb(onclick='location.href="/signout"') SIGN OUT
    #books
        button#b1(onclick = 'location.href="/sembook/1/book"' class='books') SEM BOOK 1
        br
        button#b2(onclick = 'location.href="/sembook/2/book"' class='books') SEM BOOK 2
        br
        button#b3(onclick = 'location.href="/sembook/3/book"' class='books') SEM BOOK 3
        br
        button#b4(onclick = 'location.href="/sembook/4/book"' class='books') SEM BOOK 4
        br
        button#b5(onclick = 'location.href="/sembook/5/book"' class='books') SEM BOOK 5
        br
        button#b6(onclick = 'location.href="/sembook/6/book"' class='books') SEM BOOK 6
        br
        button#b7(onclick = 'location.href="/sembook/7/book"' class='books') SEM BOOK 7
        br
        button#b8(onclick = 'location.href="/sembook/8/book"' class='books') SEM BOOK 8 