body{
    background-color: rgb(104, 17, 17);
    margin: 0;
    margin-top: -21px;
    font-family: 'Dancing Script', cursive;
}
#heading{
    width: 99%;
    min-height: 80px;
    vertical-align: middle;
    background-color: white;
    padding-top: 20px;
    padding-left: 1%;
    box-shadow: 0 0 15px 5px black;
}
#signoutb{
    float: right;
    width: auto;
    height: auto;
    font-size: large;
    background-color: white;
    border: 0px;
    min-height: 60px;
    margin-right: 2%;
    margin-top: -70px;
    transition: 0.4s;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}
#signoutb:hover{
    background-color: rgb(104, 17, 17);
    transition: 0.4s;
}
.books{
    margin-top: 1%;
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    font-size: x-large;
    color: red;
    background-color: black;
    font-family: 'Dancing Script', cursive;
    border:none;
    cursor: pointer;
}